<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="static/css/scrollcue.min.css">
        <link rel="stylesheet" href="static/css/remixicon.css">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <link rel="stylesheet" href="static/css/dark-theme.css">
        
       <title>Switch2Growth - Technology & AI Startup HTML Template</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
    </head>
    <body>

       <!--  Preloader Start -->
        <div class="preloader-area" id="preloader">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!--  Preloader End -->

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->

        <!-- Custom Cursor -->
        <div class="cursor"><span class="cursor-text"></span></div>
        <div class="cursor-inner"></div>

        <div id="smooth-wrapper">
            <div id="smooth-content">

               {% include 'navbar.html' %}
                <!-- Navbar End -->

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-area bg-f round-20 position-relative z-1">
                    <div class="container text-center">
                        <ul class="br-menu text-center bg_secondary d-inline-block list-unstyled mb-15">
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block"><a href="index.html">HOME</a></li>
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block">Careers</li>
                        </ul>
                        <h2 class="section-title style-one fw-medium font-secondary text-black text-center mb-6">Careers</h2>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Career Section Start -->
                <div class="container style-one ptb-130">
                    <div class="row justify-content-center">
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-1.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-1.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">30K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">Machine Learning Engineer</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>San Francisco, USA</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-2.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-2.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">35K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">Frontend Developer</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Toronto, Canada</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-3.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-3.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">50K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">AI Research Intern</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Berlin, Germany</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-4.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-4.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">40k</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">Manager (AI Solutions)</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Zone, Singapore</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-5.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-5.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">55K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">Data Scientist</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Amsterdam, Netherlands</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-6.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-6.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">60K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">AI Solutions Architect</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Sydney, Australia</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-7.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-7.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">65K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">NLP Engineer</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>Stockhom, Sweden</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                             <div class="job-card style-one img-hover-zoom round-10 mb-30">
                                <div class="job-img position-relative overflow-hidden img-zoom round-10">
                                    <img src="static/img/job/job-8.jpg" alt="Image" class="position-absolute top-0 start-0 w-100 h-100 round-10 transition">
                                    <img src="static/img/job/job-8.jpg" alt="Image" class="round-10 transition">
                                    <div class="job-salary fs-15 text-title bg_secondary position-absolute">Salary: <span class="fw-bold">70K</span></div>
                                </div>
                                <div class="job-info">
                                    <h3 class="fs-19 fw-semibold"><a href="career-single.html" class="text-title link-hover-primary transition">Computer Vision Engineer</a></h3>
                                    <ul class="list-unstyled mb-15">
                                        <li><span class="fw-medium text-black me-1">Location:</span>South Africa</li>
                                        <li><span class="fw-medium text-black me-1">Type:</span> Full-Time</li>
                                    </ul>
                                    <a href="career-single.html" class="link style-two fw-semibold">Apply Now<i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area d-flex align-items-center justify-content-center mt-xl-5">
                        <span class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle" aria-current="page"><img src="static/img/icons/left-arrow-blue.svg" alt="Icon"></span>
                        <span class="page-numbers current d-flex flex-column align-items-center justify-content-center rounded-circle" aria-current="page">01</span>
                        <a href="/careers" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle">02</a>
                        <a href="/careers" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle">03</a>
                        <a href="/careers" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle"><img src="static/img/icons/right-arrow-blue-2.svg" alt="Icon"></a>
                    </div>
                </div>
                <!-- Career Section End -->

                <!-- Footer Section Start -->
                {% include 'footer.html' %}
                <!-- Footer End -->

            </div>
        </div>
        <!-- Back to Top -->
        <div id="progress-wrap" class="progress-wrap style-one">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path id="progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>

        <!-- Link of JS files -->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/megamenu.js"></script>
        <script src="static/js/swiper-bundle.min.js"></script>
        <script src="static/js/fslightbox.js"></script>
        <script src="static/js/gsap.min.js"></script>
        <script src="static/js/scrollTrigger.min.js"></script>
        <script src="static/js/lenis.min.js"></script>
        <script src="static/js/scrollToPlugin.js"></script>
        <script src="static/js/SplitText.min.js"></script>
        <script src="static/js/customEase.js"></script>
        <script src="static/js/scrollcue.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>