<!-- Navbar Start -->
<div class="navbar-area style-three position-relative" id="navbar">
    <div class="container-fluid">
        <div class="navbar-wrapper d-flex justify-content-between align-items-center">
            <a href="/home" class="navbar-brand">
                <img src="static/img/logo.png" alt="Logo" class="logo-light">
                <img src="static/img/logo-white.png" alt="Logo" class="logo-dark">
            </a>
            <div class="menu-area mx-auto">
                <div class="overlay"></div>
                <nav class="menu">
                    <div class="menu-mobile-header">
                        <button type="button" class="menu-mobile-arrow bg-transparent border-0"><i class="ri-arrow-left-s-line"></i></button>
                        <div class="menu-mobile-title"></div>
                        <button type="button" class="menu-mobile-close bg-transparent border-0"><i class="ri-close-line"></i></button>
                    </div>
                    <ul class="menu-section p-0 mb-0 lh-1">
                        <li class="menu-item-has-children">
                            <a href="/home">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="javascript:void(0)">Company<i class="ri-arrow-down-s-fill"></i></a>
                            <ul class="menu-subs menu-column-1">
                                <li><a href="/aboutus">About Us</a></li>
                                <li class="menu-item-has-children">
                                    <a href="/services">Services</a>
                                    <!-- <ul class="menu-subs menu-column-1">
                                        <li><a href="/services">Services</a></li>
                                    </ul> -->
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/careers">Careers</a>
                                    <!-- <ul class="menu-subs menu-column-1"> 
                                         <li><a href="/careers">Careers</a></li> 
                                    </ul> -->
                                </li>
                                <li><a href="/contact">Pricing Plan</a></li>`
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/terms-conditions">Terms & Conditions</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/projects">Projects</a>
                            <!-- <ul class="menu-subs menu-column-1">
                                <li><a href="/projects">Projects</a></li>
                            </ul> -->
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/blog-right-sidebar">Blog</i></a>
                            <!-- <ul class="menu-subs menu-column-1">
                                <li class="menu-item-has-children"><a href="javascript:void(0)">Blog Layout<i class="ri-arrow-right-s-fill"></i></a>
                                    <ul class="menu-subs menu-column-1">
                                        <li><a href="/blog-right-sidebar">Blog Right Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="other-options d-flex flex-wrap align-items-center justify-content-end">
                <!-- <div class="option-item">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="mobile-options position-relative d-lg-none me-3">
                            <button class="dropdown-toggle  text-center bg-transparent border-0 p-0 transition" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="ri-more-fill"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-centered mobile-option-list top-1 border-0" data-bs-popper="static">
                                <a href="/contact" class="btn style-three fw-semibold position-relative round-oval">Get In Touch<span class="position-absolute top-0 end-0 h-100 d-flex flex-column align-items-center justify-content-center"><img src="static/img/icons/right-arrow-white.svg" alt="Icon"></span></a>
                            </div>
                        </div>
                        <button  class="search-btn bg-transparent border-0 d-flex flex-wrap align-items-center dropdown-toggle text-center p-0 transition" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                <img src="static/img/icons/search.svg" alt="Search Icon">
                        </button>
                        <div class="search-dropdown dropdown-menu dropdown-menu-right top-1 border-0" data-bs-popper="static">
                             <form class="search-popup position-relative" action="#">
                                <input type="search" class="form-control text-para" placeholder="Search Here....">
                                <button type="submit" class="position-absolute top-0 end-0 h-100 border-0 bg-transparent d-flex flex-column align-items-center justify-content-center"><i class="ri-search-2-line"></i></button>
                            </form>
                        </div>
                    </div>
                </div> -->
                <div class="option-item d-lg-block d-none">
                    <a href="/contact" class="btn style-three fw-semibold position-relative round-oval">Get In Touch<span class="position-absolute top-0 end-0 h-100 d-flex flex-column align-items-center justify-content-center"><img src="static/img/icons/right-arrow-white.svg" alt="Icon"></span></a>
                </div>
                <div class="option-item d-lg-none">
                    <button type="button" class="menu-mobile-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->