<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="static/css/scrollcue.min.css">
        <link rel="stylesheet" href="static/css/remixicon.css">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <link rel="stylesheet" href="static/css/dark-theme.css">
        
        <title>Aixio - Technology & AI Startup HTML Template</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
    </head>
    <body>

       <!--  Preloader Start -->
        <div class="preloader-area" id="preloader">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!--  Preloader End -->

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->

        <!-- Custom Cursor -->
        <div class="cursor"><span class="cursor-text"></span></div>
        <div class="cursor-inner"></div>

        <div id="smooth-wrapper">
            <div id="smooth-content">

               {% include 'navbar.html' %}
                <!-- Navbar End -->

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-area bg-f round-20 position-relative z-1">
                    <div class="container text-center">
                        <ul class="br-menu text-center bg_secondary d-inline-block list-unstyled mb-15">
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block"><a href="index.html">HOME</a></li>
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block"><a href="projects.html">PROJECTS</a></li>
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block">PROJECT SINGLE</li>
                        </ul>
                        <h2 class="section-title style-one fw-medium font-secondary text-black text-center mb-6">Project Single</h2>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Project Details Start -->
                <div class="container style-one ptb-130">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="project-desc">
                                <div class="single-para">
                                    <h1 class="font-secondary fw-medium">Reducing Hospital Readmissions With Predictive AI In Healthcare</h1>
                                </div>
                                <div class="service-img round-10 mb-35">
                                    <img src="static/img/projects/single-project-1.jpg" alt="Image" class="round-10">
                                </div>
                                <div class="single-para">
                                    <p>Aixio partnered with Medi Bridge Health, a leading healthcare provider, to develop a predictive model capable of identifying high-risk patients based on electronic health records (EHR), lab data, and prior history. Our goal was to reduce hospital readmissions by enabling proactive care.</p>
                                </div>
                                <div class="single-para">
                                    <h6 class="fw-bold">Project Overview</h6>
                                    <p>At AIxio, we collaborated with MediBridge Health to tackle a critical issue in the healthcare sector: unplanned patient readmissions. By developing a predictive AI model using real-time clinical data and historical records, we enabled the hospital to identify high-risk individuals before complications occurred.</p>
                                </div>
                                <div class="single-para">
                                    <h6 class="font-bold">The Solution</h6>
                                    <p>We built a machine learning model trained on anonymized EHR data, lab results, and patient notes. Key features included:</p>
                                    <ul class="feature-list style-one list-unstyled">
                                        <li class="position-relative fw-medium text-title"><i class="ri-arrow-right-line"></i>Feature engineering from clinical records</li>
                                        <li class="position-relative fw-medium text-title"><i class="ri-arrow-right-line"></i>Gradient Boosting & Random Forest algorithms</li>
                                        <li class="position-relative fw-medium text-title"><i class="ri-arrow-right-line"></i>HIPAA-compliant data pipelines</li>
                                        <li class="position-relative fw-medium text-title"><i class="ri-arrow-right-line"></i>Real-time risk dashboards for physicians</li>
                                        <li class="position-relative fw-medium text-title"><i class="ri-arrow-right-line"></i>Integration with hospital’s internal portal</li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="service-img round-5 mb-35">
                                            <img src="static/img/projects/single-project-2.jpg" alt="Image" class="round-5">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-img round-5 mb-35">
                                            <img src="static/img/projects/single-project-3.jpg" alt="Image" class="round-5">
                                        </div>
                                    </div>
                                </div>
                                <div class="single-para">
                                    <h6 class="fw-bold">Technologies used</h6>
                                    <ul class="feature-list style-one list-unstyled">
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">Python –</span>Core language for data processing and model development</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">Scikit-learn & XGBoost –</span> For predictive modeling and algorithm optimization</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">Pandas & NumPy –</span> For structured data manipulation and transformation</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">Jupyter Note book –</span> For exploratory data analysis and prototyping</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">AWS Sage Maker –</span> For model training, hosting, and deployment in a secure cloud environment</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">PostgreSQL –</span> To manage patient-related metadata and processed outputs</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title">Apache Airflow –</span> For automating data pipelines and model retraining workflows</li>
                                    </ul>
                                </div>
                                <div class="wp-blockquote round-10">
                                    <p class="text-title fw-medium">"Aixio’s development team is fast, responsive, and highly skilled. Their AI app streamlined our loan approval process."</p>
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="client-info">
                                            <h5 class="fs-18 fw-semibold mb-1">Sarah Bennett</h5>
                                            <span class="fs-15">CEO, FinCore Finance</span>
                                        </div>
                                        <img src="static/img/icons/quote-white-large.svg" alt="Icon">
                                    </div>
                                </div>
                                <div class="single-para">
                                    <h6 class="fw-bold">Key Benefits</h6>
                                    <ul class="feature-list style-one list-unstyled mb-0">
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title d-block">Reduced Readmissions by 22%</span>Enabled proactive care with accurate patient risk scoring, decreasing unplanned hospital returns.</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title d-block">Improved Early Intervention by 30%</span>Gave doctors real-time insights to act sooner and prevent complications.</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title d-block">95%+ Model Accuracy</span>Built a robust, validated machine learning model using real-world clinical data.</li>
                                        <li class="position-relative"><i class="ri-arrow-right-line"></i><span class="fw-medium text-title d-block">Seamless System Integration</span>Integrated easily into the hospital’s existing portal and workflows with minimal training required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 ps-xxl-5">
                            <div class="sidebar mt-lg-50">
                                <div class="sidebar-widget round-10 mb-35">
                                    <h3 class="sidebar-widget-title fs-18 fw-semibold text-black mb-20">Project Information</h3>
                                    <ul class="feature-list style-two list-unstyled mb-0">
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Category:</span>Robotics</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Client:</span> Sandra Thompson</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Start Date:</span>20/07/2025</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Ending:</span>30/09/2025</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Location:</span>South United Kingdom</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Duration:</span>2 Months</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Budget:</span>$4000.00</li>
                                        <li class="position-relative"><span class="text-title fw-medium me-1">Website:</span>www.aixio.com</li>
                                    </ul>
                                </div>
                                <div class="promo-widget style-one bg-f d-flex flex-column justify-content-end align-items-start round-10">
                                    <h3 class="fw-semibold text-white"><a href="service-details.html" class="text-white link-hover-white transition">AI Strategy And Consulting</a></h3>
                                    <p class="text-offwhite mb-0">In today’s fast-paced and data-driven world, business esconstantly seeking innovative </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Details End -->

                <!-- Footer Section Start -->
                {% include 'footer.html' %}
                <!-- Footer End -->

            </div>
        </div>
        <!-- Back to Top -->
        <div id="progress-wrap" class="progress-wrap style-one">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path id="progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>

        <!-- Link of JS files -->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/megamenu.js"></script>
        <script src="static/js/swiper-bundle.min.js"></script>
        <script src="static/js/fslightbox.js"></script>
        <script src="static/js/gsap.min.js"></script>
        <script src="static/js/scrollTrigger.min.js"></script>
        <script src="static/js/lenis.min.js"></script>
        <script src="static/js/scrollToPlugin.js"></script>
        <script src="static/js/SplitText.min.js"></script>
        <script src="static/js/customEase.js"></script>
        <script src="static/js/scrollcue.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>