<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="static/css/scrollcue.min.css">
        <link rel="stylesheet" href="static/css/remixicon.css">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <link rel="stylesheet" href="static/css/dark-theme.css">
        
       <title>Switch2Growth - Technology & AI Startup HTML Template</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
    </head>
    <body>

       <!--  Preloader Start -->
        <div class="preloader-area" id="preloader">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!--  Preloader End -->

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->

        <!-- Custom Cursor -->
        <div class="cursor"><span class="cursor-text"></span></div>
        <div class="cursor-inner"></div>

        <div id="smooth-wrapper">
            <div id="smooth-content">

                {% include 'navbar.html' %}
                <!-- Navbar End -->

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-area bg-f round-20 position-relative z-1">
                    <div class="container text-center">
                        <ul class="br-menu text-center bg_secondary d-inline-block list-unstyled mb-15">
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block"><a href="index.html">HOME</a></li>
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block">PROJECTS</li>
                        </ul>
                        <h2 class="section-title style-one fw-medium font-secondary text-black text-center mb-6">Projects</h2>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                <!-- Project Section Start -->
                <div class="container style-one ptb-130">
                    <div class="row justify-content-center">
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">AI Solution</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-1.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Veridoc AI</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">Management</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-2.jpg" alt="Image" class="round-10 transition transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">SkoolERP</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">Fitness</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-3.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">FitGuru</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">AI Agency</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-4.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Invoice Automation with NLP</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">Robotics</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-5.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Fraud Detection System with ML</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">AI Solution</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-6.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Lead Scoring System For B2B CRM</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">Startup</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-7.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Computer Vision For Quality Inspection</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                            <div class="project-card style-two position-relative z-1 overflow-hidden img-hover-wrap round-10 mb-45">
                                <a href="projects.html" class="project-category fs-15 fw-medium bg_primary position-absolute round-oval">Technology</a>
                                <div class="img-hover">
                                    <img src="static/img/projects/project-8.jpg" alt="Image" class="round-10 transition">
                                </div>
                                <div class="project-info z-1">
                                    <h3 class="fs-20 fw-semibold mb-0"><a href="project-single.html" class="text-title link-hover-secondary transition">Resume Screening Bot Or HR Automation</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="pagination-area d-flex align-items-center justify-content-center mt-xl-3">
                        <span class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle" aria-current="page"><img src="static/img/icons/left-arrow-blue.svg" alt="Icon"></span>
                        <span class="page-numbers current d-flex flex-column align-items-center justify-content-center rounded-circle" aria-current="page">01</span>
                        <a href="projects.html" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle">02</a>
                        <a href="projects.html" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle">03</a>
                        <a href="projects.html" class="page-numbers d-flex flex-column align-items-center justify-content-center rounded-circle"><img src="static/img/icons/right-arrow-blue-2.svg" alt="Icon"></a>
                    </div> -->
                </div>
                <!-- Project Section End -->

                <!-- Footer Section Start -->
                {% include 'footer.html' %}
                <!-- Footer End -->

            </div>
        </div>
        <!-- Back to Top -->
        <div id="progress-wrap" class="progress-wrap style-one">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path id="progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>

        <!-- Link of JS files -->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/megamenu.js"></script>
        <script src="static/js/swiper-bundle.min.js"></script>
        <script src="static/js/fslightbox.js"></script>
        <script src="static/js/gsap.min.js"></script>
        <script src="static/js/scrollTrigger.min.js"></script>
        <script src="static/js/lenis.min.js"></script>
        <script src="static/js/scrollToPlugin.js"></script>
        <script src="static/js/SplitText.min.js"></script>
        <script src="static/js/customEase.js"></script>
        <script src="static/js/scrollcue.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>