<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="static/css/scrollcue.min.css">
        <link rel="stylesheet" href="static/css/remixicon.css">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <link rel="stylesheet" href="static/css/dark-theme.css">
        
       <title>Switch2Growth - Technology & AI Startup HTML Template</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png">
    </head>
    <body>

       <!--  Preloader Start -->
        <div class="preloader-area" id="preloader">
            <div class="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!--  Preloader End -->

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->

        <!-- Custom Cursor -->
        <div class="cursor"><span class="cursor-text"></span></div>
        <div class="cursor-inner"></div>

        <div id="smooth-wrapper">
            <div id="smooth-content">

{% include 'navbar.html' %}
                <!-- Navbar End -->

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-area bg-f round-20 position-relative z-1">
                    <div class="container text-center">
                        <ul class="br-menu text-center bg_secondary d-inline-block list-unstyled mb-15">
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block"><a href="index.html">HOME</a></li>
                            <li class="position-relative fs-13 fw-semibold ls-1 d-inline-block">TERMS & CONDITIONS</li>
                        </ul>
                        <h2 class="section-title style-one fw-medium font-secondary text-black text-center mb-6">Terms & Conditions</h2>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                 <!-- Terms Section start -->
                <div class="terms-wrap ptb-130">
                    <div class="container style-one">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="single-para">
                                    <h3>Legal Disclaimer: </h3>
                                    <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other <strong>activities</strong>, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, <a href="index.html" class="text_primary">company name</a>. We will collect personal identification information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
                                </div>
                                <div class="single-para">
                                    <h3>Credit Reporting Terms of Service</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quod. Ratione ex delectus quis tenetur odio non alias numquam official ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, laborum.</p>
                                    <ol>
                                        <li>Mauris ut in vestibulum hasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in lobortis.</li>
                                        <li>Consectetur phasellus <strong>ultrices</strong> fusce nibh justo, venenatis, amet. Lectus quam in lobortis justo venenatis amet.</li>
                                        <li>Lectus quam there are two thing is very important in Consectetur phasellus ultrices fusce nibh justo, venenatis, amet in lobortis.</li>
                                        <li>Web Development very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet to all design.</li>
                                    </ol>
                                </div>
                                <div class="single-para">
                                    <h3>Ownership of Site Agreement to Terms of Use</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, facilis saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos doloribus ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.</p>
                                </div>
                                <div class="single-para">
                                    <h3>Provision of Services</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos doloribus ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.</p>
                                </div>
                                <div class="single-para">
                                    <h3> Limitation of Liability</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, facilis saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.</p>
                                </div>
                                <div class="single-para">
                                    <h3> Accounts, Passwords and Security</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, facilis saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos doloribus ea pariatur corrupti ullam autem magni quod sint tempore saepe ullam autem magni.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Terms Section end -->

                <!-- Footer Section Start -->
               {% include 'footer.html' %}
                <!-- Footer End -->

            </div>
        </div>
        <!-- Back to Top -->
        <div id="progress-wrap" class="progress-wrap style-one">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path id="progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
            </svg>
        </div>

        <!-- Link of JS files -->
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/megamenu.js"></script>
        <script src="static/js/swiper-bundle.min.js"></script>
        <script src="static/js/fslightbox.js"></script>
        <script src="static/js/gsap.min.js"></script>
        <script src="static/js/scrollTrigger.min.js"></script>
        <script src="static/js/lenis.min.js"></script>
        <script src="static/js/scrollToPlugin.js"></script>
        <script src="static/js/SplitText.min.js"></script>
        <script src="static/js/customEase.js"></script>
        <script src="static/js/scrollcue.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>